<!-- <p>seller-auth works!</p> -->
<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
      <h1>Seller Sign-Up</h1>
      <!-- #sellerSignUp="ngForm" is the name of the form -->
      <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
        <!-- when we write ngModel in input field then field is connect with the ngModel -->
        <!-- if we did not write ngModel then data will be not send  -->
        <input class="form-input" type="text" name="name" ngModel placeholder="Enter Name">
        <input class="form-input" type="password" name="password" ngModel placeholder="Enter Password">
        <input class="form-input" type="text" name="email" ngModel placeholder="Enter Email">
        <button class="form-button" >SignUp</button>
        <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click to Login</a>
      </form>
    </div>


<!-- Login Area -->

<div *ngIf="showLogin" class="sign-in">
  <h1>Seller Login</h1>
 <p class="error-p" > {{authError}}</p>
  <!-- #sellerSignUp="ngForm" is the name of the form -->
  <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
    <!-- when we write ngModel in input field then field is connect with the ngModel -->
    <!-- if we did not write ngModel then data will be not send  -->
    <input class="form-input" type="text" name="email" ngModel placeholder="Enter Email">
    <input class="form-input" type="password" name="password" ngModel placeholder="Enter Password">   
    <button class="form-button"  >Sign-In</button>
    <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account? Click to SignUp</a>
  </form>
</div>

<!-- Login Area -->

</div>
